@media (max-width: 768px) {

    .hero-section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    /* شعار */
    .hero-left {
        transform: translateY(15%);
    }

    .hero-left img {
        max-width: 330px;
    }

    /* تصویر + حباب */
    .hero-img {
        max-width: 240px;
    }

    .blob {
        width: 180px;
        height: 180px;
        /* مهم: transform اینجا حذف شده */
    }
}
