/* ===============================
   HERO MOBILE
================================ */
@media (max-width: 768px) {

    .hero-section {
        height: 100vh;      /* پر کردن کامل ویوپورت */
        height: 100dvh;     /* نسخه دقیق‌تر برای موبایل‌های جدید */
        padding: 0;         /* حذف فاصله اضافی */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-container {
        flex-direction: column;
        gap: 20px;
        direction: ltr;
        width: 100%;
        max-width: 100%;
    }

    .hero-left img {
        max-width: 350px;
        width: 100%;
    }

    .hero-right {
        justify-content: center;
    }

    .hero-img {
        max-width: 220px;
    }

    .blob {
        width: 170px;
        height: 170px;
    }
}


/* ===============================
   ABOUT MOBILE
================================ */
@media (max-width: 768px) {

    .about-section {
        height: auto;
        padding: 60px 0;
    }

    .about-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .about-image {
        width: 220px;
        justify-content: center;
    }

    .about-image img {
        width: 100%;
    }

    .about-text {
        max-width: 90%;
        text-align: justify;
        text-align-last: right;
    }

    .about-text h1 {
        font-size: 32px;
        text-align: center;
    }

    .about-btn {
        width: 100%;
    }
}
