/* :::::::::::::::::::::::::: TYPOGRAPHY :::::::::::::::::::::::::: */

body {
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: #E0E0E0;
}

p {
  color: #CFCFCF;
  line-height: 1.8;
  margin-top: 1.3rem;  
}