/*
  ****************************************************
  *  Author: Armin Silatani
  *  Date: 2026-05-07
  *  Version: 1.0.0
  ****************************************************
*/

/* =========================== RESPONSIVE CORE BASE ============================ */

/* ------------------------- RTL DIRECTION ADJUSTMENTS ------------------------- */
@media (max-width: 768px) {
  html[lang="fa"],
  html[lang="fa"] body {
    direction: rtl;
    text-align: justify;
    text-align-last: right;
  }
}

/* ------------------------- PREFERS-REDUCED-MOTION ------------------------- */
@media (prefers-reduced-motion: reduce) {
  img[data-blurup="true"] {
    transition: none !important;
  }
}